@font-face {
  font-family: "Lato";
  src: url("./assets/font/Lato-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/font/Lato-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/font/Lato-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/font/Lato-Regular.ttf");
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}


.header {  
  font-family: "Lato", sans-serif;
  color: #ffffff;
  height: 95px;
  box-sizing: border-box;
  background-color: #2d303a;
  border-bottom: 6px solid #323645;
}
.container {
  max-width: 940px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-top: 29px;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -0.57px;
}

h1 > span {
  color: #f06c64;
}

.navigation {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  width: 371px;  
}

.navigation-item {
  font-size: 12px;
  text-transform: uppercase;
  list-style: none;
}

.navigation-item:not(:first-child)::before {  
  position: relative;
  content: ".";
  right: 13px;
  bottom: 2px;
  font-weight: bold;  
  color: #494e62;
}

.link-item {
  text-decoration: none;
  color: inherit;
}

.link-item:hover {
  color: #f06c64;
  transition: linear 0.3s;
}

.slider-section {
  height: 600px;
  background-color: #f06c64;
}

.slider {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.arrow {
  width: 15px;
  height: 15px;
  
  border: solid #ca4549;
  border-width: 0 5px 5px 0;
  display: inline-block;
  margin: 285px 0 0 3px;
  
}

.arrow-left {
  transform: rotate(135deg);
  
}

.arrow-right {
  margin-right: 3px;
  transform: rotate(-45deg);
}

.arrow:hover {
  border-color: #a3282c;  
  transition: linear 0.3s;
}

.iphone-vertical {
  position: absolute;
  top: 53px;
  left: 73px;
}

.iphone-vertical-bg {
  position: absolute;
  top: 115px;
  left: 83px;
  z-index: 2;
}


.iphone-horizontal {
  position: absolute;
  top: 175px;
  right: 70px;
}

.iphone-horizontal-bg {
  position: absolute;
  top: 185px;
  right: 159px;
  z-index: 2;
}

.services-section {
  height: 500px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.title-section {
  padding-top: 59px;
  color: #767e9e;
  font-size: 30px;
  font-family: "Lato";
  font-weight: 900;
  letter-spacing: 0.1px;
}

.description-section {
  padding-top: 20px;
  color: #767e9e;
  font-size: 18px;
  font-family: "Lato";
  font-weight: 300;
  line-height: 1.65;
  letter-spacing: -0.18px;
}

.services-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 43px;
}

.services-item {
  display: flex;
  padding-bottom: 34px;
  justify-content: space-between;
  max-width: 32%;

}

.services-item-img {
  padding-top: 3px;
}

.services-item-img img {
  height: 60px;
  width: 60px;
}

.services-item-content {
  padding-left: 20px;
  max-width: 240px;

}

.services-item-title {
  color: #666d89;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 900;
}

.services-item-description {  
  height: 60px;
  margin-top: 7px;
  line-height: 1.9;
  color: #767e9e;
  font-size: 12px;
  font-family: "Lato";
  font-weight: 500;
  text-align: justify;

}

.portfolio {
  height: 870px;
  box-sizing: border-box;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.title-portfolio {
  padding-top: 59px;
  color: #666d89;
  font-size: 30px;
  font-family: "Lato";
  font-weight: 900;
  letter-spacing: 0.35px;
}

.description-portfolio {
  padding-top: 20px;
  color: #767e9e;
  font-size: 18px;
  font-family: "Lato";
  font-weight: 300;
  line-height: 1.65;
  letter-spacing: -0.20px;
}

.portfolio-buttons {
  padding-top: 10px;
  padding-left: 1px;
}

.portfolio-button1,
.portfolio-button2,
.portfolio-button3,
.portfolio-button4 {
  padding: 3px 6px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #767e9e;  
  background: none;
  border: 1px solid #666d89;
  border-radius: 5px; 
  outline: none;
}

.portfolio-button1:hover,
.portfolio-button2:hover,
.portfolio-button3:hover,
.portfolio-button4:hover {
  color: #dedede;
  border: 1px solid #c5c5c5;  
}



.portfolio-button1 {  
  height: 23px;
  width: 29px;
  margin-right: 6px;
}

.portfolio-button2,
.portfolio-button3 {
  margin-right: 5px;
}

.portfolio-imgs {
  height: 601px;
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
}

.portfolio-imgs img:hover {
  transform: scale(1.1);
  transition: linear 0.5s;
}

.about-us {
  height: 734px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about-us .title-section {
  letter-spacing: 0.05px;
}

.about-us .description-section {
  letter-spacing: 0.05px;  
  word-spacing: -0.7px;
}

.about-persons {
  display: flex;
  padding-top: 45px;
}

.about-person {
  height: 443px;
  width: 300px;
}

.about-person:nth-child(1) {
  padding-right: 19px;
}

.about-person:nth-child(2) {
  padding-right: 21px;
}

.about-title {
  padding-top: 10px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #666d89;
}

.about-description {
  padding-top: 11px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #767e9e;
  line-height: 1.7;
  word-spacing: -0.5px;
}

.about-social {
  display: flex;
  padding-top: 25px;
}

.social {
  height: 14px;
  width: 15px;
  padding: 8px;
  margin-right: 7px;
  color: #666d89;
  border: 1px solid #666d89;
  border-radius: 50%;
}

a .social:hover,
a .social:hover #facebook,
a .social:hover #googleplus,
a .social:hover #twitter,
a .social:hover #linkedin {
  fill: rgb(194, 88, 88);
  border: 1px solid rgb(194, 88, 88);
  transition: linear 0.3s;
}


.get {
  height: 654px;
  box-sizing: border-box;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

form {
  width: 619px;
}

.get .title-section {
  padding-top: 59px;
  color: #f0d8d9;
  font-size: 30px;
  font-family: "Lato";
  font-weight: 900;
  letter-spacing: -0.3px;
}

.get .description-section {
  padding-top: 20px;
  color: #f0d8d9;
  font-size: 18px;
  font-family: "Lato";
  font-weight: 300;
  line-height: 1.65;
  word-spacing: -0.7px;
}

.contacts {
  display: flex;
}

.form-section {
  display: flex;
  margin-top: 27px;
  flex-wrap: wrap;
}

input {
  box-sizing: border-box;
  width: 619px;
  height: 38px;
  margin-top: 16px;  
  padding-left: 15px;  
  color: #f48c8f;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 500;  
  background: #d6564f;
  border: none;
  border-radius: 5px;
  outline: none;
}

input:focus,
textarea:focus {
  border: 1px solid #f0d8d9;
  transition: linear 0.3s;
}

input[type=submit] {
  margin-top: 10px;
}

input::placeholder,
textarea::placeholder {  
  color: #f48c8f;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 500;  
}

textarea {
  box-sizing: border-box;
  width: 619px;
  height: 202px;
  margin-top: 16px;
  padding-top: 11px;
  padding-left: 14px;
  color: #f48c8f;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 500;  
  background: #d6564f;
  border: none;
  border-radius: 5px;
  outline: none;
  resize: none;
}

.contacts-section {
  padding-top: 41px;
  padding-left: 21px;
}

.title-contact {
  color: #f0d8d9;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 900;
}

.description-contacts {
  display: inline-block;
  padding-top: 7px;
  color: #f0d8d9;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.9;
}

.contact-items {
  margin-top: 15px;
  margin-left: 1.4px;
}

.contact-items a {
  text-decoration: none;
  color: inherit;
}

a .description-contacts {
  padding-left: 6px;
  padding-top: 5px;
  line-height: 1.6;
}

a .description-contacts:hover {
  color: #2d303a;
}

.footer {
  position: relative;
  height: 76px;
  background: #2d303a;
}

.footer .about-social {
  display: flex;
  margin-top: -2px;  
  margin-left: 787px;
}

.footer .social {
  height: 14px;
  width: 15px;
  padding: 8px;
  margin-right: 7px;
  color: #666d89;
  border: 1px solid #666d89;
  border-radius: 50%;
}

.footer-block {
  display: flex;
}

.copyright {
  position: absolute;
  margin-top: 30px;
  color: #666d89;
  font-family: "Loto", sans-serif;
  font-size: 12px;
  font-weight: 500;
}


